.GitHubCalendar_Main{
    width: 90%;
    margin: auto;
}
.GitHubCalendar_Main div{
    margin-left: 50px;
}

.GitHubCalendar_title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 70px; 
    margin-bottom: 70px;  
}

@media (max-width : 700px){
    .GitHubCalendar_title{
        font-size: 30px; 
    }
    .GitHubCalendar_Main{
        width: 95%;
    }
    .GitHubCalendar_Main div{
        margin-left: 0px;
    }
}