

.Navbar_main{
    display: grid;
    grid-template-columns: 30% 70%;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color:white;
    border-bottom:1px solid #84ceeb;
    margin-top: -10px;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .Navbar_Two{
    display: flex;
    justify-content:space-evenly;
    margin-top:25px;
    height: 60%;
  }
  .Navbar_Two div{
    padding: 10px 10px;
    font-size:20px;
    font-weight: 500;
    border-radius: 10px;
  }
  .Navbar_Two div:hover{
    padding: 10px 10px;
    color: white;
    background-color: #84ceeb;
    font-weight: 500;
    border-radius: 20px;
    cursor: pointer;
  }
.Navbar_one{
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    margin-right: 50px;
}
a{
  text-decoration: none;
}

  .logo{
    color:#84ceeb ;
    font-weight: 700;
  }
