

.profile_main{
    width: 25%;
    margin-top: 30px;
    background-color:#84ceeb;
    border-radius: 1000px;
    padding: 20px;
}
.profile_main img{
    width: 90%;
    display: inline;
    margin: auto;
    border-radius: 100px;
}