.Project_title{
    font-size: 40px;
    font-weight: 700;
    margin-top: 70px;
}
.Project_icons{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 40%;
  gap: 20px;
  color:#1184b2;
  font-size: 50px;
  margin: auto;

}
.Project_icons div{
    border: 1px solid #84ceeb;
    border-radius: 50px;
    margin: auto;
    padding: 8px 23px;
    margin-top:10px;
    margin-bottom: 20px;
    
}


@media (max-width : 480px){
  .Project_title{
    font-size: 30px;
}
.Project_icons{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 90%;
  gap: 10px;
  font-size: 35px;

}
.Project_icons div{
    padding: 13px 23px;
}
.ProjectCards_Main div{
  margin-top: 35px;
}
}