
.ProjectCards_Main{
  width:95%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin:auto
}
.Project_title{
  font-size: 40px;
  font-weight: 700;
  margin-top: 50px;
}
@media (max-width : 600px){
  .ProjectCards_Main{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 50px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1100px){
  .ProjectCards_Main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
  }
}