



.ProjectCards_Main{
    width: 80%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
}
.ProjectCards_Img img{
    width: 100%;
    display: inline;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
    margin-top: 20px;
}
.ProjectCards_Name{
    font-size:25px;
    font-weight: 500;
    margin-top: 10px;
}
a{
    text-decoration: none;
}
.ProjectCards_Des{
    text-align:justify;
    margin-top: 10px;
}
 li{
    text-align:left;
    font-size: 15px;
    margin-top: 7px;
}
.ProjectCards_highlight{
 font-weight: 600;
 font-size: 17px;
}
.ProjectCards_Buttons{
    display: flex;
    margin-top: 20px;
}
.ProjectCards_Buttons button{
    width: 85%;
    border: 2px solid #84ceeb;
    color: #84ceeb;
    margin-left: 30px;
    font-weight: 500;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    transition: all 0.5s ease-in-out 0s;
}
.ProjectCards_Buttons button:hover{
    cursor: pointer;
    background-color: #84ceeb;
    color: white;
    font-size: 23px;
}
.ProjectCards_Buttons_icons{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 18px;
}


@media (max-width : 600px){
    .ProjectCards_Main{
        width: 95%;
        display: block;
        padding: 15px;
        margin: auto;
    }
    .ProjectCards_Img img{
        width: 95%;
    }
    .ProjectCards_Name{
        font-size:25px;
        margin-top: 15px;
    }
    .ProjectCards_Des{
        text-align: left;
        margin-top: 10px;
    }
     li{
        text-align:left;
        font-size: 16px;
    }
    .ProjectCards_highlight{
     font-weight: 600;
     font-size: 16px;
    }
    .ProjectCards_Buttons button{
        width: 80%;
        border: 2px solid #84ceeb;
        color: #84ceeb;
        margin-left: 30px;
        font-weight: 500;
        padding: 10px;
        font-size: 20px;
        border-radius: 15px;
        transition: all 0.5s ease-in-out 0s;
    }
    .ProjectCards_Buttons button:hover{
        cursor: pointer;
        background-color: #84ceeb;
        color: white;
        font-size: 23px;
    }
}


@media screen and (min-width: 600px) and (max-width: 1100px){
    .ProjectCards_Main{
        width: 95%;
        display: block;
        padding: 15px;
        margin: auto;
    }
    .ProjectCards_Img img{
        width: 95%;
    }
    .ProjectCards_Name{
        font-size:25px;
        margin-top: 15px;
    }
    .ProjectCards_Des{
        text-align: left;
        margin-top: 10px;
    }
     li{
        text-align:left;
        font-size: 16px;
    }
    .ProjectCards_highlight{
     font-weight: 600;
     font-size: 16px;
    }
    .ProjectCards_Buttons button{
        width: 80%;
        border: 2px solid #84ceeb;
        color: #84ceeb;
        margin-left: 30px;
        margin-bottom: 10px;
        font-weight: 500;
        padding: 10px;
        font-size: 20px;
        border-radius: 15px;
        transition: all 0.5s ease-in-out 0s;
    }
    .ProjectCards_Buttons button:hover{
        cursor: pointer;
        background-color: #84ceeb;
        color: white;
        font-size: 23px;
    }
}