

.Skills_Heading{
    font-size: 40px;
    font-weight: 700;
    margin-top: 90px;
}

.Skills_Icons{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    font-size: 50px;
    color: #84ceeb;
    width: 90%;
    margin: auto;
    gap: 50px;
    padding: 20px;
    margin-top: 10px;
}
.Skills_Icons div{
    border: 1px solid #1185b2;
    padding: 40px;
    border-radius: 200px;
}
.Skills_Icons div:hover{
    color: black;
    background-color: #1185b2;
    cursor: pointer;
}
.Skills_P{
    color: black;
    font-size: 25px;
    margin-top: -20px;
}

@media (max-width : 600px){
    .Skills_Heading{
        font-size: 35px;
        margin-top: -3px;
        margin-bottom: 25px;
    }
    .Skills_Icons{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        font-size: 50px;
        width: 95%;
        gap: 25px;
        padding: 5px;
    }
    .Skills_Icons div{
        padding: 15px;
        border-radius: 500px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1100px){
    .Skills_Heading{
        font-size: 35px;
        margin-top: -3px;
        margin-bottom: 25px;
    }
    .Skills_Icons{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        font-size: 60px;
        width: 95%;
        gap: 12.5px;
        padding: 5px;
    }
    .Skills_Icons div{
        padding: 50px 0px;
        border-radius: 500px;
    }
    .Skills_P{
        font-size: 20px;
    }
}